body{
padding:15px;
margin:15px;
}

header{
background-color: #ddd;
height:150px;
padding:10px;
text-align: center;
margin-bottom:0;
background-image:  url(../Images/flywheel.jpg);
background-repeat: no-repeat;
background-size:cover;
}


h1{
  color: rgb(255, 255, 255);
  font-size:20px;
}


.nav a{
 padding:15px;
 margin:0 80px 0 80px;
 background-color:rgb(240, 240, 240)  ;
 opacity: 0.5;
 text-decoration:none;
 color: #000000;
 border-radius:5px;
 width:120px;
 float:left;
 font-size:15px;
 font-weight:bold;
 
}
 a:hover {
  background-color:rgb(255, 255, 255) ; 
}

.active {
  background-color:#FFFFFF; 
}

.img2{

height:120px;
display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
border:2px solid black;
margin-top: 25px;
margin-bottom:20px;

}

.h2{
font-size:30px;
}
.left{
background-color:#808000;
float: left;
width:20%;
height: 600px;
margin-top:0;
}

.right{
padding:2px;
}

table{
padding:10px 30px 10px 30px;
margin-left: 60px;
width:70%;

}
th{
background-color:#808000;
border: 2px solid #77b300;
color: rgb(255, 255, 255);
border-radius:5px;
padding:15px; 
font-family: Arial, Helvetica, sans-serif;
}


.team{
float:left;
}
tr{
background-color:#e6ffb3;
}

tr:hover {
background-color: #f5f5f5;
}

td{
text-align: center;
padding:10px;
font-family: Arial, Helvetica, sans-serif;
border:2px;
}
